<!DOCTYPE html>
<html lang="fr">

<%-  include('header.ejs')%>

<body>
 <table class="tableau">
 <% for(elm of adresses) {%>
 <tr>
        <% for(info in elm) {%>
            <td><%= elm[info] %></td>
        <%}%>
 </tr>
 <% } %>
 </table>

 <%-  include('footer.ejs')%>
 
</body>
</html>