<table class="tableau">
    <% for(elm of adresses) {%>
        <tbody>
        <tr>
                <td><%= elm.nom %></td>
                <td><%= elm.telephone %></td> 
        </tr>
        </tbody>
    <% } %>
</table>